@using AnimedleWeb.Models
@model AnimedleWeb.Models.AniListResults

@{
    int ii = 1;
}

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Test"]</h1>

@foreach(var anime in Model.Data.Page.Media)
{
    <h3> @ii: @anime.Title.English | @anime.Title.Romaji | @anime.Title.Native</h3>
    <p>Score: @anime.AverageScore.ToString()</p>
    <p>Released: @anime.SeasonYear.ToString()</p>
    if (anime.Episodes != null)
    {
        <p>Episodes: @anime.Episodes.ToString()</p>
    }
    <p>Studio: @anime.Studios.Nodes[0].Name</p>

    if(anime.Genres != null)
    {
        <div>Genres:</div>
        <ul>
        @foreach(var genre in anime.Genres)
        {
            <li>@genre</li>
        }
        </ul>
    }

    ii++;
}